//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------

// Mobile break-point
$mobile-break: 450px;

// Fonts
$font-sans: sans-serif;
$font-serif: Georgia, Times, "Times New Roman", serif;
$font-mono: "Courier 10 Pitch", Courier, monospace;
$font-size: 14px;

// Colors
$gray:          #444444;
$light-gray:    #AAAAAA;
$dark-gray:     #232323;
$white:         #ffffff;

$borders:       #EEEEEE;

$blue:          #0063ce;
$red:           #f00;
$light-yellow:  #fffff8;
$dark-red:      #a00;
